[submodule "submodules/fzf"]
	path = submodules/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "submodules/zsh-users"]
	path = submodules/zsh-users
	url = https://github.com/zsh-users/zsh.git
[submodule "dot-config/awesome/awesome-wm-widgets"]
	path = dot-config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
